<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <classPathEntry location="D:\apache-maven-3.3.9\repository\mysql\mysql-connector-java\5.1.35\mysql-connector-java-5.1.35.jar"/>
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--数据库连接url，用户名，密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/alarm_system" userId="root" password="">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.htsc.alarm.domain" targetProject="D:\Monitoring Dev\alarm\src\main\java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="com.htsc.alarm.mapper" targetProject="D:\Monitoring Dev\alarm\src\main\resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!-- 生成DAO的包名和位置，这里配置即将生成dao类放在com.ehsy.config.dao这个包下 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.htsc.alarm.dao" targetProject="D:\Monitoring Dev\alarm\src\main\java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--要生成的表-->
        <!--
        <table tableName="alarm_config" domainObjectName="AlarmConfig" enableCountByExample="true" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="false"/>
        <table tableName="alarm_info" domainObjectName="AlarmInfo" enableCountByExample="true" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="true" selectByExampleQueryId="false"/>
        -->
    </context>
</generatorConfiguration>